@{
    ViewData["Title"] = "Index";
}

<script type="text/javascript" src="~/lib/webcamjs/webcam.min.js"></script>
<script type="text/javascript" src="~/js/app.js"></script>

<div class="fullscreen bg-light">
    <div id="camera"></div>
    <input class="btn btn-light" type=button value="Take Snapshot" onClick="take_snapshot()">
</div>