@{
    ViewData["Title"] = "Index";
}

<script type="text/javascript" src="~/lib/webcamjs/webcam.min.js"></script>

<div id="my_camera"></div>
<script language="JavaScript">
    Webcam.set({
        width: window.innerWidth / 2,
        height: (window.innerWidth / 2) * 9 / 16,
        image_format: 'jpeg',
        jpeg_quality: 90
    });
    Webcam.attach('#my_camera');
</script>

<div id="results"></div>

<!-- A button for taking snaps -->
<form>
    <input class="btn btn-dark" type=button value="Take Snapshot" onClick="take_snapshot()">
</form>

<!-- Code to handle taking the snapshot and displaying it locally -->
<script language="JavaScript">
    function take_snapshot() {
        // take snapshot and get image data
        Webcam.snap(function (data_uri) {
            // display results in page
            document.getElementById('results').innerHTML = '<img src="' + data_uri + '"/>';
        });
    }
</script>
