@{
    ViewData["Title"] = "Index";
}

<script type="text/javascript" src="~/js/app.js"></script>

<div class="fullscreen bg-light">
    <span id="errorMsg"></span>

    <video id="video" class="capture" playsinline autoplay></video>
    <canvas id="canvas" class="capture"></canvas>

    <input id="snap" type="button" value="Capture" class="btn btn-info">
</div>
