@{
    ViewData["Title"] = "Results";
}

<div class="animated fadeIn page-center">
    <h1>Results</h1>
    <hr />
    <h2>Area</h2>
    <p>Left-point: 99</p>
    <p>Midpoint: 98</p>
    <p>Right-point: 97</p>
    <p>Trapezoidal: 96</p>
    <hr />
    <h2>Calories</h2>
    <p>At least 2, you unhealthy pond scum.</p>
</div>
