@using Microsoft.AspNetCore.Http.Features

@{
    var consentFeature = Context.Features.Get<ITrackingConsentFeature>();
    var showBanner = !consentFeature?.CanTrack ?? false;
    var cookieString = consentFeature?.CreateConsentCookie();
}

@if (showBanner)
{
    <div id="cookieConsent" class="alert alert-info alert-dismissible fade show" role="alert">
        Site settings use cookies and your preferences will not be saved if you do not accept.
        <a href="~/terms">Learn More</a>.
        <button type="button" class="btn btn-info" data-dismiss="alert" data-cookie-string="@cookieString">
            <span>Accept</span>
        </button>
    </div>
    <script>
        (function () {
            var button = document.querySelector("#cookieConsent button[data-cookie-string]");
            button.addEventListener("click", function () {
                document.cookie = button.dataset.cookieString;
                var consentDiv = document.getElementById("cookieConsent");
                animateCSS(consentDiv, "fadeOutUp", true, function () {
                    consentDiv.style.display = "none";
                });
            }, false);
        })();
    </script>
}
