@{
    ViewData["Title"] = "Home Page";
}

<div class="page-center">
    <div class="right">
        <h2 class="text-center">Get Started Now</h2>
        <a id="start-button" class="btn btn-outline-dark" onclick="transitionOut('app')">Get Started</a>
    </div>

    <div class="left">
        <div class="feature">
            <img src="~/img/gear.png" />
            <div>
                <h2>Rick and Roll.</h2>
                <p>RiemannWeb acts fast - allowing you to get work done without hinderances or interruptions.</p>
            </div>
        </div>
        <div class="feature">
            <img src="~/img/backpack.png" />
            <div>
                <h2>Stay Slim on the Go.</h2>
                <p>Literally and literally - carry only your phone, and use our calorie-counting features.</p>
            </div>
        </div>
        <div class="feature">
            <img src="~/img/graph.png" />
            <div>
                <h2>Ahead of the Curve.</h2>
                <p>Our webapp has UX/UI yet to be rivaled in this field, allowing you to perform your best.</p>
            </div>
        </div>
    </div>
</div>
