@{
    ViewData["Title"] = "Privacy Policy";
    ViewData["DarkMode"] = true;
}

<div class="animated fadeInLeft page-center">
    <h1>Privacy Policy</h1>
    <p>No, we don't take your webcam data. That's dumb. No, we don't use your microphone. No personal data gets sent to our servers. Yes, we use cookies. No, they aren't technically necessary, but they do make things nicer. Actually, you really only need to accept if you wanted to use the dark mode on this site. Accidentally agree but want to disagree now? Cool, just click on settings, then clear cookie settings.</p>
    <br />
    <h1>Terms of Use</h1>
    <p>Promise not to DDOS us and you're good. If you are Mr. Sproule, to use this app, you must give us an A+ with 20 extra curve points (exam category) on this project. Thanks. This code is licensed under the MIT License. For more information, you can visit the Git repository of this project, <a class="link-color" href="https://github.com/SDBagel/RiemannMathProject">here</a>.</p>
</div>
