@{
    ViewData["Title"] = "Privacy Policy";
}

<div class="animated fadeInLeft page-center">
    <h1>Privacy Policy</h1>
    <p>RiemannWeb never interacts with any user data, at all. We simply send the scripts and functions for the site to operate to your computer. In short, no webcam or microphone data ever gets uploaded, and all files selected using the "Upload" option, despite the name, never get sent to our servers. Our site uses cookies only with the consent of the user, and we only use cookies for site settings. No cookies will get stored without the user consenting first, found on the settings page. You may reset your cookie preferences and delete all cookies on the site settings page.</p>
    <br />
    <h1>Terms of Use</h1>
    <p>Promise not to DDOS us and you're good. If you are Mr. Sproule, to use this app, you must give us an A+ with 20 extra curve points (exam category) on this project. Thanks. This code is licensed under the MIT License, which means you are free to steal, modify, sell, or do what you will with this code. We politely ask if you do take it for your own use, that you credit us, although this is not necessary. For more information, you can visit the Git repository of this project, <a class="link-color" href="https://github.com/SDBagel/RiemannMathProject">here</a>.</p>
    <br />
</div>
